.login-background {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../assets/login-bg.jpg") center center / cover no-repeat;
}


.card {
    background-color: white;
    width: 100%;
    max-width: 400px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 2rem;
}

.login-background .card {
    background: rgba(255, 255, 255, 0.4) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


